<div class="col-md-4 offset-md-4" *ngFor="let publicacion of publicaciones">
  <div class="card text-center">
    <div
      class="
        card-header
        bg-dark
        text-white
        d-flex
        justify-content-between
        align-items-center
      "
    >
      <span *ngIf="publicacion.nombrecatedratico != 'N/D'"
        >Catedratico: {{ publicacion.nombrecatedratico }}</span
      >
      <span *ngIf="publicacion.nombrecurso != 'N/D'"
        >Curso: {{ publicacion.nombrecurso }}</span
      >
      &nbsp;
      <a href="/publicacion/{{publicacion.publicacion}}">{{ publicacion.titulo }}</a>
    </div>
    <div class="card-body">
      Creado por {{ publicacion.nombreusuario }} {{ publicacion.apellido }} el
      {{ publicacion.fecha | date: "dd/MM/YYYY" }}
    </div>
  </div>
  <br />
</div>
