<div class="col-md-6 offset-md-3">
  <!-- <div class=" card-header bg-dark text-white  d-flex justify-content-between align-items-center" *ngIf="comentarios.length > 0">
    Comentarios: {{ comentarios.length }}
  </div> -->
  <div class="card text-left">
  <div class=" card-header bg-clear text-black  d-flex justify-content-between " >
    Comentarios: 
  </div>
  <span class="card-body text-center">Actualmente hay {{ comentarios.length }} comentarios.</span>
  <ng-container *ngIf="this.publicacionConsulta != '0'">
  <span class="card-body text-left">Aporta con tu opinión
      <form>
        <div class="form-group">
            <textarea [(ngModel)]="comentario.texto" type="text" name="texto" placeholder="Texto" class="form-control mt-2" rows="5"></textarea>
        </div>
        <button class="btn btn-success col-md-8 offset-md-0 mt-2" (click)="saveComentario()">Comentar</button>
      </form>
  </span>
  </ng-container>
</div>
<br />
</div>
<div class="col-md-6 offset-md-3" *ngFor="let comentario of comentarios">
  <div class="card text-center">
    <div class=" card-header bg-dark text-white  d-flex justify-content-between align-items-center">
      <span>{{ comentario.nombre }} {{ comentario.apellido }}</span>&nbsp;<span>Publicación: </span>
      <a href="/publicacion/{{ comentario.publicacion }}">{{
        comentario.titulo
      }}</a>
    </div>
    <div class="card-body">({{ comentario.fecha | date: "dd/MM/YYYY" }}) {{ comentario.texto }}</div>
</div>
<br />
</div>
